.App {
  display: flex;
  margin-top: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* align-items: center;
  display: flex;
  margin-left: 50%; */
}

/* .App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
} */
/* justify-items: center; */